# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# SQLite
db.sqlite3

# Media
media/

# Static collected files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log